.heroText {
  background-color: #6148ff;
}

.heroText button {
  color: #6148ff;
}
.ks-img {
  width: 100%;
  height: 75px;
  border-radius: 10px 10px 0 0;
}
@media only screen and (max-width: 426px) {
  .hero img {
    height: 150px;
    width: 300px;
  }
  .hero-container h2 {
    font-size: 20px;
  }
  .hero-container button {
    font-size: 10px;
    width: 100px;
    height: 30px;
  }
}
