.login {
  max-width: 100%;
  width: 100vw;
  display: flex;
  background-color: white;
}

.login span {
  color: black;
}

h2 {
  margin: 0;
}

.frame > button,
.btn {
  background-color: #6148ff;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

#form {
  max-width: 500px;
  width: 100vw;
  margin: 0;
}

#form > input,
.btn {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
}

#form > input:focus {
  outline: none;
}

#form > .btn {
  background-color: #6148ff;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.login .col-1 {
  margin: auto;
  padding: 3em 0;
}

.login .col-2 img {
  background-color: #6148ff;
  width: 620px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}
.pass {
  display: flex;
  justify-content: space-between;
}

.forgot-pass {
  cursor: pointer;
}

.centerfont {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.daftar-span {
  margin-left: 10px;
  cursor: pointer;
}

.padding {
  padding-top: 20px;
  padding-bottom: 20px;
}
.border {
  border-radius: 10%;
}

@media screen and (min-width: 860px) {
  .login .col-2 img {
    display: initial;
  }
}
