.payment{
    width: 400px;
}

.payment button{
    background-color: #73CA5C;
    width: 100px;
    height: 40px;
}

@media screen and (max-width: 425px) {
    .payment{
        width: 300px;
    }
}