.containerMyProfile {
  width: 30%;
}

.containerMyProfile img {
  width: 90px;
  height: 90px;
  border: 3px solid #6148ff;
}

.buttonSave {
  background-color: #6148ff;
}

@media screen and (max-width: 426px) {
  .containerMyProfile {
    width: 75%;
  }
}
